<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/adminedit.css">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
  </head>
  </html>
       <div>
           <a href="/admin/addHotel" class="nav1">Add Task</a>
          <a href="/admin/editHotel" class="nav1">Edit Hotel</a>
           <a href="/home" class="linklogout" >Logout</a>   
       </div>
<section class="tasks-container">
        <form method="POST">
    <table border="1" style="text-align: center;" class="table">
        <thead>
                <th>Hotel Name</th>
                <th>Hotel Description</th>
                <th>Price per Night</th>
                <th>Operation</th>
        </thead>
        <tbody>
            {{#each admindata}}
                <tr>
                   <td>
                        <a href="/admin/addHotel/{{this.id}}" class="task-title">{{this.name}}</a>
                   </td>
                   <td>
                       <span>{{this.description}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.Price}}</span>
                   </td>
                  
                   <td>
                        <a href="/adminupdate/{{this.id}}" class="edit-delete-button">Edit</a>
                        <a href="/adminupdate/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>
            {{/each}}
            </tbody>
    </table>
 
</section>
