<h2>Hotel Dashboard</h2>
 <section class="tasks-container">
   

     <form method="POST">


    <table border="1" style="text-align: center;" class="table">
        <thead>
                <th>Hotel Name</th>
                <th>Hotel Description</th>
                <th>Price</th>
                <th>Room Location</th>
                <th>Room Type</th>
                <th>Operation</th>
        </thead>
        <tbody>
            {{#each admindata}}
                <tr>
                   <td>
                        <a href="/admin/{{this.id}}" class="task-title">{{this.title}}</a>
                   </td>
                   <td>
                       <span>{{this.description}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.price}}</span>
                   </td>
                   <td>
                       <span>{{this.views}} </span>
                   </td>
                   <td>
                       <span>{{this.type}} </span>
                   </td>
                   <td>
                        <a href="/edit/{{this.id}}" class="edit-delete-button">Edit</a>
                        <a href="/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>
            {{/each}}
            </tbody>
    </table>
 
</section>
